@keyframes updown{

    from{
        transform:  translateY(0px)
    }

    to{  
        transform:  translateY(-3px);
    }
}

@keyframes press{
    from{  
        transform:  translateY(-3px);
    }

    to{
        transform:  translateY(0px)
    }
}

body{
    background-image: url(../img/cup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

section.home {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header.design1{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-color: red;
    color: white;
    font-family:Arial Black;
    position: fixed; 
    top: 0;
}   

& .design1.img{
    height: 30px;
    margin: none;
}

& .design1.p{
    margin: none;
    padding-left: 10px;

}
.box{
    display: flex;
    justify-content: flex-start;
   }
  
#box1{
    height : 60px;
    padding-left: 30px ;
    align-items: center;
   }

#box1 p{
    font-size: 40px;
   }

#box1 img{
    width: 100px;
    transition: .2s;
}

#box1 img:hover{
    transform: scale(1.2);
}

#box1 img:active{
    transform: scale(1);
}

#nav1 {
   padding-right: 30px;
}

header.design1 button{
    margin-left: 15px;
    background-color: rgba(0,0,0,0);
    font-family: Arial Black;
    color: white;
    font-size: 20px;
    height: 60px;
    border : none;
    border-bottom: 5px rgba(0,0,0,0) solid;
    transition: .1s;
}

.design1 button:hover{
    animation: updown .1s ;
    animation-fill-mode: forwards;
    background-color: #ffc400;
    border-bottom: 5px #ff7b00 solid;
}

.design1 button:active{
    animation: press .1s;
    background-color: #ffc400;        
    border-left: 5px red solid;
    border-right: 5px red solid;
    border-bottom: 5px red solid;;
}


footer.design2{
    display: flex;
    width: 80vw;
    height: 3vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-color: red;
    color: white;
    font-family:Arial Black;
    position: absolute; 
    bottom: 0;
    left: 0;
}   

    .design2 img{
        height: 55px;
    }

    .design2 nav{
    display: flex;
    flex-direction: row;
    }

    .design2 h2{
    padding-right: 50px;
    }

    .design2 p{
    padding-left: 40px;
    }

    #box2{
    height : 60px;
    align-items: center;
    }

    #box3{
    height : 60px;
    align-items: center;
    }

    footer.design7{
        display: flex;
        width: 80vw;
        height: 3vw;
        justify-content: space-between;
        padding: .7rem 10vw;
        align-items: center;
        background-color: red;
        color: white;
        font-family:Arial Black;
        cursor: default;
        position: fixed;
        bottom: 0; 
    }   
    
        .design7 img{
        height: 55px;
        }
    
        .design7 nav{
        padding-right: 30px;
    
        }
    
        .design7 button {
        margin-left: 15px;
        margin-right: 50px;
        background-color: rgba(0,0,0,0);
        font-family: Arial Black;
        color: white;
        font-size: 20px;
        height: 60px;
        border : none;
        border-bottom: 5px rgba(0,0,0,0) solid;
        transition: .1s;
        
        }
    
        .design7 button:hover{
        transform: translateY(-3px);
        background-color: #ffc400;
        border-bottom: 5px #ff7b00 solid;
        }
    
        .design7 button:active{
        transform: translateY(0px);
        border-left: 5px red solid;
        border-right: 5px red solid;
        border-bottom: 5px red solid;
    
        }
    
        .design7 p{
        padding-left: 40px;
        }
    
        #box17{
        height : 60px;
        align-items: center;
        }
    
        #box18{
        align-items: center;
        }
    
#box45{
            margin-top: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            background-color: white;
            max-width: max-content;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        #box4{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #box4 img {
            width : 300px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }


        #box5{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction : column;
            width: 600px;
        }

        #box5 h1{
            font-size: 30px;
            margin: 5px;
            color: black;
            font-family: Arial Black;
            padding: 40px;
        }
        
#box67{
            margin-top: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            background-color: white;
            max-width: max-content;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
        
        #box6{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #box6 img {
            width : 350px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        #box7{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction : column;
            width: 600px;

        }
        
        
        #box7 h1{
            font-size: 30px;
            color: black;
            font-family: Arial Black;
            padding-left: 40px;
        }
        #box7 p{
            font-size: 25px;
            color: black;
            font-family: Arial Black;
            padding-left: 40px;
            margin: none;
        }

        #box89{
            margin-top: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            background-color: white;
            max-width: max-content;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        #box8{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction : column;
            width: 600px;
            padding: 10px;
        }
        
        
        #box8 h1{
            font-size: 30px;
            margin: 5px;
            color: black;
            font-family: Arial Black;
            padding: 40px;
        }

        #box8 p{
            font-size: 25px;
            color: black;
            font-family: Arial Black;
            padding-left: 40px;
            margin: none;
        }

        #box9{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #box9 img {
            width : 320px;
            padding: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        #box1011{
            margin-top: 100px;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            background-color: white;
            max-width: max-content;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        #box10{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #box10 img {
            width : 350px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        #box11{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction : column;
            width: 600px;

        }
        
        
        #box11 h1{
            font-size: 30px;
            color: black;
            font-family: Arial Black;
            padding-left: 40px;
        }
        #box11 p{
            font-size: 25px;
            color: black;
            font-family: Arial Black;
            padding-left: 40px;
            margin: none;
        }

